@page "/"

<PageTitle>API Demo Main</PageTitle>

<AuthorizeView>
    <NotAuthorized>
        Sign into this page to continue.
    </NotAuthorized>
    <Authorized>
       <h5>Objectives</h5>
        <ol>
            <b>Demonstrate the following:</b>
            <li>
                MSAL integration.
            </li>
            <li>
                Server Authorization and Roles
            </li>
            <li>
                Web Client Authorization and Roles
            </li>
            <li>
                1st and 3rd party API Connectivity.
            </li>
            <li>
                Server API request limiter
            </li>
            <li>
                SignalR Client/Server communication
            </li>
        </ol>
    </Authorized>
</AuthorizeView>